<%- include headerAdmin%>
<%- include leftAdmin%>
<div class="col-xs-10">
    <div class="content">
        <div class="item">
            <div class="item-title">后台首页</div>
            <div class="panel panel-default">
                <div class="panel-heading">欢迎访问</div>
                <div class="panel-body">
                    欢迎进入新闻后台管理系统！请从左侧选择一个操作。
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">本系统说明</h3>
                </div>
                <div class="panel-body server-info">
                    <p>本新闻后台管理系统能够实现对新闻app端数据的管理，及对新闻信息的增删改查操作</p>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include footerAdmin%>