
<div class="col-xs-2">
    <div class="panel panel-default menu">
        <div class="panel-heading menu-head">管理菜单</div>
        <div class="panel-body menu-body">
            <div class="list-group menu-list">
                <a href="/admin" class="list-group-item " id="admin">后台首页</a>
                <a href="/admin/add" class="list-group-item" id="admin_add">新闻添加</a>
                <a href="/admin/list " class="list-group-item " id="admin_list">新闻列表</a>
                <a href="#" class="list-group-item ">会员管理</a>
            </div>
        </div>
    </div>
</div>
